<!DOCTYPE html>
<head>
  <title>Football Statistics</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <div id="header">
    <h1>Football Statistics</h1>
    <div id="social-media">
      <p>twitter</p><p>facebook</p><p>github</p>
    </div>
  </div>

  <div id="main"
    <h3 id="intro">Welcome to football statistics!</h3>
    <p>Records for the English Premier League, including scores, goals,
       appearances and squads.</p>
  </div>

  <!--<form action = "matches" method = "get" >
    <input type="submit" value="view all matches">
  </form>-->
</body>

</html>
